<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../asserts/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>포도 로또</title>
</head>
<body>
    <div class="top-area">
        <img src="/asserts/img/favicon.png" alt="Logo" class="logo-image">
        <h1 class="logo-text">포도 로또</h1>
        <div class="top-button-userIf">
            <button class="top-button" style="float: left;" onclick="goToSignin()">로그인</button>
            <button class="top-button" style="float: left;" onclick="goToSignup()">회원가입</button>
            <button class="top-button" style="float: left;" onclick="logout()">로그아웃</button>
        </div>
    </div>

</body>
</html>