<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>포도 로또 | Signin</title>
    <link rel="icon" type="image/x-icon" href="/static/path/to/favicon.ico">
    <link rel="stylesheet" href="../css/sign.css">
</head>
<body>
<div class="container">
  <h1 class="title">로그인</h1>
  <form>
        <span style=" font-size:1.5em;">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="예) lets@party.com">

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="영문, 숫자, 특수문자 조합 8-60자">

        <input type="submit" id="submit-btn" value="로그인">
        </span>
  </form>
  <p><a href="/page/signup">회원가입</a></p>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(() => {
    $("#submit-btn").on("click", (ev) => login(ev))
  })

  function login(ev) {

    let email = $('#email').val();
    let password = $('#password').val();

    if (email === '') {
      alert('이메일을 입력해주세요');
      return;
    } else if (password === '') {
      alert('비밀번호를 입력해주세요');
      return;
    }
    ev.preventDefault()
    $.ajax({
      type: "POST",
      url: `/api/users/signin`,
      contentType: "application/json",
      data: JSON.stringify({email: email, password: password}),
      success: function (response, status, xhr) {
        console.log(response);
        console.log(status);
        console.log(xhr);
        document.cookie = 'Authorization' + '=' + xhr.getResponseHeader('Authorization')

        let host = window.location.host;
        let url = host + '/page/index';
        window.location.href = 'http://' + url;
      }

    }).fail((json) => {
      console.log(json)
      alert("로그인에 문제가 발생했습니다. 증상이 계속되는 경우 관리자에 문의주세요.")
    })
  }
</script>
<footer>
  <div class="bottomlogo">
    <a href="/page/index">포도 로또</a>
  </div>
</footer>
</body>
</html>
