<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>포도 로또 | Signup</title>
  <link rel="icon" type="image/x-icon" href="/static/path/to/favicon.ico">
  <link rel="stylesheet" href="/static/css/sign.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(() => {
      //해당 버튼쪽에서 클릭행위를 했을때 signup기능을 시작
      $("#signbtn").on("click", (ev) => signup(ev))
    })

    function signup(ev) {
      // 회원가입 양식 데이터 가져오기
      var formData = {
        email: $("#email").val(),
        password: $("#password").val(),
        nickname: XSSCheck($("#nickname").val),
      };
      ev.preventDefault()
      // Ajax 요청 보내기
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/api/users/signup",
        data: JSON.stringify(formData),
        success: function (response, status, xhr) {
          if (status === 'success') {
            alert('회원가입 완료')
            let host = window.location.host;
            let url = host + '/page/signin'; //이동하려는 페이지 주소
            document.cookie =
                    'Authorization' + '=' + xhr.getResponseHeader('Authorization') + ';path=/';
            window.location.href = 'http://' + url;
          } else {
            alert(response.json.msg)
          }
        }
      }).done((json) => {
        console.log("singup_done");
      }).fail(() => {
        console.log("singup_fail");
      })
    }
    function XSSCheck(str) {
      str = str.replace(/\</g, "&lt;");
      str = str.replace(/\>/g, "&gt;");
      return str;
    }

  </script>
</head>
<body>
<div class="container">
  <h1 class="title">회원가입</h1>
  <form action="submit_form.php" method="POST">
        <span style=" font-size:1.5em;">
            <label for="email">Email</label>
            <input id="email" name="email" placeholder="예) lets@party.com" type="text">

            <label for="password">Password</label>
            <input id="password" name="password" placeholder="영문, 숫자, 특수문자 조합 8-60자" type="password">

            <label for="nickname">닉네임:</label>
            <input id="nickname" name="nickname" placeholder="닉네임을 입력해주세요." type="text">

            <input id="signbtn" type="submit" value="가입하기">
        </span>
  </form>
  <p><a href="/page/loginPage">이미 가입한 계정이 있으신가요?</a></p>
</div>
<footer>
  <div class="bottomlogo">
    <a href="/page/index">포도 로또</a>
  </div>
</footer>
</body>
</html>
